h1 {
    font-size: 24px;
    text-align: center;
}

#apiDiv {
    border: double 2px lightgoldenrodyellow;
    padding: 10px;
    padding-left: 20px;
}

    #apiDiv input, #apiDiv button {
        font-size: 25px;
        color: rgb(37, 36, 36);
    }

    #yearInput{
        width: 100px;
    }

    #apiDiv h4 {
        margin: 10px;
        font-style: italic;
    }

   

    #apiDiv #message {
        padding-top: 20px;
    }

        #apiDiv #message .resultDiv {
            background: white;
            display: inline-block;

        }

            

            #apiDiv #message .resultDiv .result, .result2 {
                width: 23%;
                height: 300px;
                padding: 30px;
                float: left;
                text-align: center;
                cursor: pointer;
            }

                #apiDiv #message .resultDiv .result img, .result2 img {
                    width: 75%;
                }

                #apiDiv #message .resultDiv .result p, .result2 p{
                    margin: 0%;
                }

                    #apiDiv #message .resultDiv .result p a, .result2 p a{
                        color: black;
                        font-size: 20px;
                        height: 100px;
                    }

                        #apiDiv #message .resultDiv .result p a:hover, .result2 p a:hover {
                            text-decoration: underline;
                        }
